.wy-nav-content {
    max-width: none;
}


.wy-side-nav-search {
    background-color: #059B7D;
}

.wy-side-nav-search input[type=text] {
    border-color: #059B7D;
}

.jf-loading body { /*載入中不顯示*/
      opacity: 0;
      visibility: hidden;
}
.jf-active body { /*如果處理成功，直接顯示*/
      opacity: 1;
      visibility: visible;
}
.jf-inactive body {/*如果處理失敗，直接顯示*/
      opacity: 1;
      visibility: visible;
}

/*.wy-side-scroll 左側的所有部份 不包含搜尋*/
/*.rst-content 右側的所有部份 不包含大標題*/
/*.section 右側內文與目錄*/
/*h1 右側大標題*/
/*form.wy-form input 左側的搜尋*/

div.highlight pre {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New","cwtexqyuan";
    font-weight: 500;
    font-size: 0.85em;
}

.pre {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New","cwtexqyuan";
    font-weight: 500;
    font-size: 1.2em;
}

form.wy-form input {
    font-family: "Varela Round", "cwtexqyuan";
    font-weight: 500;
}

.wy-side-scroll {
    font-family: "Varela Round", "cwtexqyuan";
    font-weight: 500;
}

.rst-content {
    font-family: "Varela Round", "sourcehansans-tc";
    font-weight: 200;
}

li {
    font-family: "Varela Round", "sourcehansans-tc";
    font-weight: 200;
    font-size: 1em;
}

h1 {
    font-family: "Varela Round", "xingothic-tc";
    font-weight: 700;
}

h2 {
    font-family: "Varela Round", "xingothic-tc";
    font-weight: 700;
}

h3 {
    font-family: "Varela Round", "xingothic-tc";
    font-weight: 700;
}

/*--------I18n (Languages)--------*/

.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu {
    width:100%;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#b3b3b3;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#fcfcfc;
}
 
.menu .arrow {
    font-size:0.8em;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:center;
    display:inline-block;
    position:relative;
    font-size:1em;
    left:0%;
}
 
.menu > ul > li > a {
    padding:1em 2em 0.5em 2em;
    display:inline-block;
    left:0%;
}

.langcenter {
    width: 100%;
    text-align: center;
}


/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:0.2em 0em;
    position:absolute;
    top:100%;
    left:-30%;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#343131;
}
 
.sub-menu li {
    display:block;
    font-size:0.95em;
}
 
.sub-menu li a {
    padding:0.5em;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#404040;
}

.toggle .header {
    display: block;
    clear: both;
    padding:0.5em 0em 0.5em 0em;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}